* {
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: Arial, Tahoma, Serif;
    color: #1cb3ff;
width: 100%;   
 margin: 0 auto;
  }

  .firstlayer{
      
      width: 100%;
      background-color: rgb(53, 150, 121);
      text-align: center;
      
  }
header{
    position: sticky;
     display: block;
     top: 0;
     z-index: 999;
}
 .btn1{
     
     width: 50%;
     color: aliceblue;
    
 }
 button{
     color: white;
    background-color: #AA0000;
    
    border-radius: 7px;
 }

 .buttons{
     border-radius: 5px;
     border: 2px solid;
 }

 .buttons:hover{
     background-color: black;
 }
 .buttons:focus{
     background-color: black;
 }

 .chapters{
     width: 80%;
 }


 .container-fluid{
    
     position: relative;
     width: 100%;
     margin: 0 auto;
     padding-top: 1%;
    
 }

 .col-md-3{
     
     max-height: 70vh;
     position: sticky;
     display: block;
     top: 7%;
   
     
 }


 html, body, .container-fluid, .row {
    height:100%;
}

@media (max-width: 767px) {
    .col-sm-4 {
        min-height: 33.3333333%;
        height: 33.3333333%;
    } 
}